*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Montserrat', sans-serif;
}

/*Header*/

nav{
    
    background-color: #566573;

    .lista__header{
        margin-top: 10px;
    }
}

@media all and (min-width:992px){
    .titulo__header{
        margin-left: 200px;
    }
}

/*Banner*/
 
.bannerindex{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 808px;
    background-image: url(../assets/indexdesktop.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   
        h1{
            color: white;
            font-size: 3rem;
            text-align: center;
            width: 90%;
         
        }
      
}

@media all and (min-width:798px){
    .bannerindex{
        height: 1000px;
    }
    h1{
        font-size: 5rem;
        color: white;
    }
}


@media all and (min-width:1920px){
    .bannerindex{
        height: 850px;
    }

}

.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    background-image: url(../assets/entrenamiento_mobile.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   
        h1{
            color: whitesmoke;
            font-size: 5rem;
            font-weight: map-get($map: $fuentes, $key: bold);
            text-align: center;
            width: 90%;
        }
}


.banner__nutricion{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    background-image: url(../assets/nutricion-mobile.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   
        h1{
            font-size: 5rem;
            font-weight: map-get($map: $fuentes, $key: bold);
            text-align: center;
            width: 90%;
        }
}


@media all and (min-width:300px){
    .banner__nutricion{
        h1{
            color: green;
            font-size: 4rem;
        }
    }

    .banner{
        h1{
            font-size: 2.5rem;
            color: red;
        }
    }
}


@media all and (min-width:800px){
    .banner__nutricion{
        h1{
            color: green;
            font-size: 5rem;
        }
    }

    .banner{
        h1{
            font-size: 5rem;
        }
    }
}

@media all and (min-width:1378px){

   .banner{
        background-image: url(../assets/entrenamiento-desktop.webp);
    }

   .banner__nutricion{
    background-image: url(../assets/nutricion_desktop.jpeg);
    height: 500px;
        h1{
            color: green;
        }
   }
}

/*Entrenamiento Y Nutricion*/

%contenedor__card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #e5e7e9;
}

%articulo__card{
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    margin-top: 85px;
    text-align: center;
    margin-bottom: 85px;
    background-color: white;
}

%imagen__card{
    width: 330px;
    height: 220px;
    border-bottom: 2px solid black; 
    margin-bottom: 7px;
    margin-top: 10px;
    border-radius: 7px;
}

.card__entrenamiento{
    @extend %contenedor__card;

        article{
            @extend %articulo__card;
            height: 555px;
            

            img{
                @extend %imagen__card;
            }

            div{
                width: 330px; 

                    h2{
                        font-size: 1.6rem;
                    }

                    p{
                        font-size: 0.9rem;
                        padding-top: 9px;
                    }

            }
            
        }

    }

.card__nutricion{
    @extend %contenedor__card;

        article{
            @extend %articulo__card;
            height: 510px;

            img{
                @extend %imagen__card;
            }

            div{
                width: 330px; 

                    h2{
                        font-size: 1.6rem;
                    }

                    p{
                        font-size: 0.9rem;
                        padding-top: 9px;
                    }

            }
            
        }

    }

    @media all and (min-width:1378px){

        .banner{
            height: 500px;
        }
    
        .card__entrenamiento , .card__nutricion{
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
        }
    
    }

/*Team*/

.team{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    
    img{
        width: 355px;
        height: 300px;
    }

    article{
        text-align: center;
        height: 274px;
        width: 80%;
        margin-bottom: 80px;
        
        img{
            width: 350px;
            height: 300px;
        }

            div{
                font-size: 2rem;
                font-weight: map-get($map: $fuentes, $key: semibold);
                margin-top: 12px;
            }

            p{
                margin-top: 9px;
                font-size: 1rem;
            }

    }
}

@media all and (min-width:800px){

    .team{
      margin-top: 30px;

        img{
            height: 500px;
            width: 600px;
        }

        article{
          margin-top: 20px;
                div{
                   font-size: 2.7rem;
                }
        
                p{
                  font-size: 1.3rem;
                }
        }
    
    }
}



@media all and (min-width:1920px){
    
    .team{
        flex-direction: row;
        justify-content: space-around;
        margin-top: 110px;

        img{
            height: 600px;
            width: 700px;
            margin-left: 50px;
            margin-bottom: 20px;
        }

        article{
            width: 400px;   
            margin-right: 50px;
            margin-bottom: 250px;
                div{
                    font-size: 3rem;
                }
        
                p{
                    font-size: 1.4rem;
                }
        }
    
        footer{
            position: fixed;
            bottom: 0;
        }
    }
}


/*Contacto*/

form{
    display: flex;
    justify-content: center;
    margin-top: 15px;
    height: 828px;
 
        .containerform{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
        
        .tituloform{
            align-self: center;
            color: black;
            font-size: 3rem;
        }

        .titulo__form{
            font-size: 1.3rem;
            padding: 5px;
        }

        .input{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
                .i1{
                    margin: 6px;
                    height: 47px;
                    border-radius: 35px;
                    width: 350px;
                    text-align: center;
                }
        }

        .i2{
            height: 47px;
            border-radius: 35px;
            width: 712px;
            margin: 6px;
            text-align: center;
        }   

        .container__label{
            margin-left: 6px;
                label{
                    margin: 0 10px 0 2px;
                    font-size: 1rem;   
                }
        }
        
        textarea{
            width: 725px;
            height: 200px;
            padding: 10px;
            margin: 6px;
            text-align: center;
        }

        .boton{
            align-self: center;
            margin-top: 20px;
            width: 160px;
            height: 35px;
            border-radius: 35px;
        }
    }
}

@media all and (min-width:300px) and (max-width:800px){
    form{
        height: 850px;
            .containerform{
                align-items: center;
                width: 100%;
                margin-bottom: 55px;
            
            .tituloform{
                font-size: 1.7rem;
                font-weight: map-get($map: $fuentes, $key: bold);
            }
    
            .titulo__form{
                font-size: 1.1rem;
                font-weight: map-get($map: $fuentes, $key: semibold);
            
            }
    
            .input{
                display: flex;
                flex-direction: column;
            }
    
            .i2{
                width: 350px;
            }   
    
            textarea{
                width: 350px;
                height: 150px;
            }
        }
    }
}

@media all and (min-width:801px) and (max-width:1378px){
    form{
        height: 940px;
    }
}


@media all and (min-width:1920px){
    form{
        height: 828px;
    }
}

/*Footer*/

footer{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    background-color: #566573;
        img{
            height: 50px;
        }
}

.foot{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    background-color: #566573;
    position: fixed;
    bottom: 0;
        img{
            height: 50px;
        }
}



